.characters {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.character-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 3rem;
  padding: 1rem 5rem;
}
