.layout.MuiContainer-maxWidthLg {
  margin: unset;
  max-width: 100%;
  padding: unset;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
