.details-container {
  align-self: center;
  padding-top: 4rem;
  width: 50%;
}

.details-card.MuiPaper-rounded {
  box-shadow: $card-box-shadow;
  border-radius: $standard-border-radius;
  display: flex;
  padding: 1rem;

  img {
    border-radius: $standard-border-radius;
  }
}

.details-info {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  h1 {
    font-size: 4rem;
    font-weight: bold;
  }

  p {
    font-size: 1.4rem;
    font-stretch: 55%;
    margin-top: 1rem;
    text-align: justify;
  }
}
