.header.MuiAppBar-positionFixed {
  position: inherit;
}

.header-logo {
  cursor: pointer;
  img {
    height: 3rem;
    margin: 20px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__items {
  cursor: pointer;
  display: flex;
  height: 5.6rem;

  .menu__item {
    align-self: center;
    all: unset;
    color: $marvel-white;
    font-size: 25px;
    font-weight: bold;
    padding: 1.8rem 1rem;

    &.active {
      background-color: $marvel-red;
      color: $primary-dark;
    }

    &:hover {
      background-color: $marvel-red;
    }
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.mobile-menu__icon,
.mobile-menu__container {
  display: none;

  @media only screen and (max-width: 768px) {
    display: block;
  }
}
