.related-gallery {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;

  figure {
    align-items: center;
    transition: color 0.5s;
  }

  img {
    object-fit: fill;
    object-position: 100% 100%;
    width: 100%;
  }
}

.related-gallery__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 3rem;
  padding: 1rem 5rem;
  width: 100%;

  .MuiPaper-root {
    background-color: $marvel-red-transparent;
  }

  &.not-found {
    grid-template-columns: auto;
  }

  div {
    display: flex;
  }

  .MuiPaper-root {
    border-radius: $standard-border-radius;
  }
}

.related-gallery__title {
  background-color: white;
  border-radius: $standard-border-radius;
  box-shadow: $card-box-shadow;
  color: rgba(0, 0, 0, 0.87);
  font-size: 4rem;
  font-weight: bold;
  padding: 2rem;
  width: min-content;
}

.related-gallery__caption {
  align-items: center;
  bottom: 0;
  display: flex;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  min-height: max-content;
  padding: 1rem;
  width: 100%;
}

.not-found {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  width: max-content;

  video {
    align-self: center;
    padding-top: 2rem;
    width: min-content;
  }
}

.bookmarks .not-found {
  width: auto;
}

.not-found-bookmark {
  background: #fefefe;
  border-radius: 25px;
  box-shadow: $card-box-shadow;
  color: $card-mask;
  font-size: 2rem;
  font-weight: 600;
  padding: 5rem;
}
