.search {
  background-color: $marvel-white;
  border-radius: $standard-border-radius;
  display: flex;
  height: 3rem;
  margin-right: 2rem;
  width: 30rem;
}

.search-icon {
  align-items: center;
  display: flex;

  button {
    height: 100%;
    width: 100%;

    &:disabled {
      cursor: not-allowed;
    }

    &.MuiButtonBase-root.MuiButton-root.MuiButton-text {
      border-radius: $standard-border-radius;
    }

    &.MuiButtonBase-root.MuiButton-root.MuiButton-text:hover {
      background-color: lighten($primary-dark, 70);
    }
  }
}

.search-input {
  width: 93%;

  input {
    padding-left: 2rem;
  }
}

.select,
.format-select {
  padding: 15px;

  &.MuiInputBase-root {
    cursor: pointer;
  }

  .MuiInputBase-input {
    all: unset;
    border-radius: $standard-border-radius;
    width: 100%;
  }

  &:hover {
    border-radius: $standard-border-radius;
    background-color: lighten($primary-dark, 70);
  }
}

.MuiInput-underline,
.format-select {
  &.select::before,
  &.format-select::before {
    border-bottom: unset;
    content: "";
    transition: none;
    all: unset;
  }

  &.select::after,
  &.format-select::after {
    border-bottom: unset;
    content: "";
    transition: none;
    all: unset;
  }
}

.format-select {
  width: 100%;
}
