.stories-gallery {
  .gallery-container {
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  }

  @media only screen and (max-width: 768px) {
    .gallery-container {
      grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    }

    figure .card-buttons {
      display: none;
    }
  }
  .gallery-container.loading {
    grid-template-columns: auto;
  }
}
