$background-main: url("assets/background.jpg");
$standard-border-radius: 25px;
$card-box-shadow: 0 10px 10px 0 rgb(26, 27, 27);
$marvel-red: #ed1d24;
$marvel-red-transparent: #ed1d24a1;
$marvel-white: #fefefe;
