@import "./base/_reset.scss";
@import "./abstracts/_variables.scss";
@import "./components/_characters.scss";
@import "./components/_container.scss";
@import "./components/_card.scss";
@import "./components/_header.scss";
@import "./components/_search.scss";
@import "./components/_option-bar.scss";
@import "./components/_sort.scss";

body {
  background-image: $background-main;
  background-position: 50%;
  background-size: 900px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
